<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <title>Bình luận</title>
    <link rel="stylesheet" href="../css/add_update_comment.css" />
  </head>
  <body>
    <form action="add_update_comment.html" method="POST">
      <input type="hidden" name="contribution_id" value="user_id" />
      <textarea name="comment_content" required>
Nhập bình luận của bạn ở đây...</textarea
      >
      <button type="submit" name="submit_comment">Gửi bình luận</button>
    </form>
  </body>
</html>
