<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Quản lý đóng góp</title>
    <link rel="stylesheet" href="../css/coordinator_manage_contribution.css" />
  </head>
  <body>
    <form method="post" action="coordinator_manage_contribution.php">
      <input type="hidden" name="contribution_id" value="faculty_name" />
      <textarea
        name="comment_content"
        placeholder="Nhập nội dung bình luận"
      ></textarea
      ><br />
      <button type="submit" name="submit_comment">Gửi bình luận</button>
    </form>

    <div id="pagination"></div>
  </body>
</html>
