<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/index.css" />
  </head>
  <body>
    <section>
      <div class="signin">
        <div class="content">
          <nav class="sidebar">
            <ul>
              <li><a href="view_contribution.php">Student Contributions</a></li>
              <li>
                <a href="manager_dashboard.php">Statistics</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </section>
  </body>
</html>
