body {
    background-image: url('https://img.lovepik.com/photo/40150/9846.jpg_wh860.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Pontano Sans', sans-serif;
    font-size: calc(0.65em + .05vw);
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f0f0f0;
    margin-bottom:60px;
  }
          main {
      padding: 20px;
      background-color: #fff;
      
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  
       
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    color: #fff;
    text-align: center;
  }